
/*  this is d comment  */
   
/* div{
    
    background-color: rgb(255 100 20);
    background-image: url(../imgss/téléchargement.jfif);
    background-repeat: no-repeat;
    background-attachment:scroll ;
    background-position: right ;
    background-size: cover; */

    /* padding: 90px 60px; */
    /* padding: 40px;
    width: 70%;
    margin: auto;
    border-width:  10px;
    border-color: red red green green;
    border-style: solid;

} */